#user-name-container, #api-key-container, #search-container, #response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

label {
  margin-bottom: 5px;
}

input, textarea {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

#response {
  width: 400px;
  height: 200px;
}

button {
  padding: 5px 10px;
  margin
